/*@font-face {
  font-family: 'Font';
  src: url('./font.TTF');
  font-weight: normal;
  font-style: normal;
}

body {

}

.reveal {
  font-family: 'Font';
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Font';
}
*/